{% extends "::layout/layout.html.twig" %}        

{% block body %}
    <div class="container">
        <div class="row">
            
            <div class="span3">
                {{ include('includeTexte/teste.html.twig') }}

            </div>
                
                 <div id="imgAttes">               
                <img src="{{ absolute_url(asset('img/logo-validation.png')) }}">
            </div>



            <div id="tableauPercepteur" class="span9" >
                <h4 id="tireGestPiece"> Gestion de la restittution des piéces confisquées</h4><br>
                
                {% if attestations == null %}
                    <p>
                    <H3 class = "text-info"> Pas d'attestations disponible !!!</H3>
                     {{ include('includeType/no_view.html.twig') }}
                    </ p>
                {% endif %}
                {% if attestations|default is not empty %}

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th  style="text-align: center">N° Attestation</th>
                                <th  style="text-align: center">Numéron cni</th>
                                <th  style="text-align: center">Prenom Chauffeur</th>
                                <th  style="text-align: center">Piéce confisquée</th>
                                <th  style="text-align: center">Date retrait</th>
                                <th  style="text-align: center">Payer</th>
                                <th  style="text-align: center">Etat piéce</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for attestation in attestations %}
                                <tr> 
                                   <td  style="text-align: center"> {{ attestation.numeroAttestation }} </td>                
                                   <td  style="text-align: center"> {{ attestation.conducteur.ncni }} </td>
                                   <td  style="text-align: center"> {{ attestation.conducteur.prenomConducteur }} </td>
                                   <td  style="text-align: center"> {{ attestation.conducteur.numeroPermis }} </td>
                                   <td  style="text-align: center"> {{ attestation.dateRecuperePermis|date('d/m/Y') }} </td>
                                    
                                   <td  style="text-align: center">       
                                            <STRONG>   
                                                
                                                    <span style="color: greenyellow">{{ attestation.payer }}</span>
                                       
                                            </STRONG>
                                         
                                    </td>
                                   <td  style="text-align: center"> <a style="text-decoration: none" href="{{ path('police_attestation_remettre_piece', { 'id' : attestation.id }) }}">
                                            <STRONG>   
                                                {% if attestation.etatPiece == 'pas retirée'%} 
                                                    <span style="color: red">{{ attestation.etatPiece }}</span>
                                                {% endif %} 
                                                </STRONG>
                                            </a>
                                                
                                            <STRONG>   
                                                {% if attestation.etatPiece == 'retirée'%} 
                                                    <span style="color: greenyellow">{{ attestation.etatPiece }}</span>
                                                {% endif %} 
                                            </STRONG>
                                         
                                    </td>

                                    </tr>
                                    {%endfor%}
                                        {%endif%}

                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-md-12 text-center">                                
                                            <div class="pagination text-center"> 
                                                <ul>
                                                    {% for p in range(1, nbrTotalPages) %}
                                                        <li{% if p == page %} class="active"{% endif %}>
                                                            <a href="{{ path('police_attestation_gestion_piece', {'page': p}) }}">{{ p }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>                              
                                        </div>
                                    </div>
                                </div>


                            </div>

                            {% endblock %}
