{% extends "::layout/layout.html.twig" %}        

{% block body %}
    <div class="container">
        <div class="row">
            
            <div class="span3">
                {{ include('includeTexte/teste.html.twig') }}

            </div>
                 <div id="imgAttes">               
                <img src="{{ absolute_url(asset('img/logo-validation.png')) }}">
            </div>
            <div id="tableauPercepteur" class="span9">
                <h4 style='text-align: center'> Suivi du payement des amendes</h4><br>
                
                {% if attestations == null %}
                    <p>
                    <H3 class = "text-info"> Pas d'attestations disponible !!!</H3>
                    {{ include('includeType/no_view.html.twig') }}
                    </ p>
                {% endif %}
                {% if attestations|default is not empty %}

                    <table class="table table-striped table-hover center-block">
                        <thead>
                            <tr>
                              <th  style="text-align: center">N° Attes.</th>
                              <th  style="text-align: center">Piéce confisquée</th>
                              <th  style="text-align: center">Lieu infraction</th>
                              <th  style="text-align: center">Date</th>
                              <th  style="text-align: center">Date retrait</th>
                              <th  style="text-align: center">Voir attes.</th>
                              <th  style="text-align: center">Payer</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for attestation in attestations %}
                                <tr> 
                                  <td style="text-align: center"> {{ attestation.numeroAttestation }} </td>                
                                  <td style="text-align: center"> 
                                      {% if attestation.conducteur.pieceConfisquer == 'Permis de conduire'%} 
                                            PC_<span style="color: red">{{attestation.conducteur.numeroPermis }}</span>
                                        {% elseif attestation.conducteur.pieceConfisquer == 'Carte grise'%} 
                                            CG_<span style="color: red">{{attestation.conducteur.numeroCarteGrise }}</span>
                                        {% elseif attestation.conducteur.pieceConfisquer == 'CNI'%} 
                                            CNI_<span style="color: red">{{attestation.conducteur.ncni }}</span>
                                        {% endif %}
                                  </td>
                                  <td style="text-align: center"> {{ attestation.lieu }} </td>
                                  <td style="text-align: center"> {{ attestation.date|date('d/m/Y') }} </td>
                                  <td style="text-align: center"> {{ attestation.dateRecuperePermis|date('d/m/Y') }} </td>
                                  <td style="text-align: center"> <a href="{{ path('police_attestation_verication', { 'id' : attestation.id }) }}" target="_bank"><i class="icon-eye-open"></i></a> </td>
                                  <td style="text-align: center"> <a style="text-decoration: none" href="{{ path('police_attestation_payer', { 'id' : attestation.id }) }}">
                                            <STRONG>   
                                                {% if attestation.payer == 'NON'%} 
                                                    <span style="color: red">{{ attestation.payer }}</span>
                                                {% endif %} 
                                                </STRONG>
                                            </a>
                                                
                                            <STRONG>   
                                                {% if attestation.payer == 'OUI'%} 
                                                    <span style="color: greenyellow">{{ attestation.payer }}</span>
                                                {% endif %} 
                                            </STRONG>
                                         
                                        </td>

                                    </tr>
                                    {%endfor%}
                                        {%endif%}

                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-md-12 text-center">                                
                                            <div class="pagination text-center"> 
                                                <ul>
                                                    {% for p in range(1, nbrTotalPages) %}
                                                        <li{% if p == page %} class="active"{% endif %}>
                                                            <a href="{{ path('police_attestation_percepteur', {'page': p}) }}">{{ p }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>                              
                                        </div>
                                    </div>
                                </div>


                            </div>

                            {% endblock %}
