{% extends "::layout/layout.html.twig" %}        

{% block body %}
    <div class="container">
        <div class="row">
            <h2 style='text-align: center'> Attestation</h2>
            {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}
                        <div class="span3">
                {{ include('includeTexte/teste.html.twig') }}
               {# {{ include('includeType/commissariat.html.twig') }}#}
            </div>
            <div class="span3">
                {{ include('includeType/attestation.html.twig') }}
                
                <span > <button style="width: 220px;" class="btn btn-primary">Atteser</button></span>
            </div>

            <div class="span3">

                {{ include('includeType/conducteur.html.twig') }}

            </div>
                            <div class="span3">
                               
                
                                <a style="text-decoration: none; color: black;" href="{{ path('police_attestation_policier') }}"><i class="icon-eye-open"></i> Voir les attestations délivrées</a>
                               
                            </div>

        </div>
                               
        {{ form_end(form) }}
    </div>
{% endblock %}
