{% extends "::layout/layout.html.twig" %}        

{% block body %}
    <div class="container">
        <div class="row">

            {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}
            <div class="span3 ">
                {{ include('includeTexte/teste.html.twig') }}
            </div>
              <div id="imgAttes" class="span3">               
                <img src="{{ absolute_url(asset('img/logo-validation.png')) }}">
            </div>
            <h2 style='text-align: center'> Attestation</h2>

            <div class="span3">
                {{ include('includeType/attestation.html.twig') }}
                 
                    <div class="form-group">
                    {{ form_label(form.infractionConstater, "Observations") }}
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.infractionConstater) }}
                    {# Génération de l'input. #}
                    {{ form_widget(form.infractionConstater, {'attr': {'class': 'form-control', 'rows': '4','cols': '8'}}) }}
                </div>
                <P>
                    <a class="btn btn-info" style="width: 120px; text-decoration: none; color: #ffffff;" href="{{ path('police_attestation_policier') }}">
                        Voir les attestattions
                    </a>

                    <a class="btn btn-warning" id="btn_annul" style="width: 50px; text-decoration: none; color: #ffffff;" href="{{ path('police_attestation') }}">
                        Annuler
                    </a>
                </P>
                
            </div>

            <div class="span3">
                {{ include('includeType/conducteur.html.twig') }}
             
            </div> 
                <P class="offset3">
                    <button style="width: 520px;" class="btn btn-primary">Valider ces informations et indiquer les infractions  </button>

                </P>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
