{% extends "::layout/layout.html.twig" %}        

{% block body %}
    <div class="container">
        <div class="row">
           
            <div class="span3">
                {{ include('includeTexte/teste.html.twig') }}

            </div>
                 <h4 style='text-align: center'> N° Attestation: {{ attestation.numeroAttestation }}</h4>
            <div class="span3">
                <p>
                    <span class="enGras"> N° Attestation : </span>{{ attestation.numeroAttestation }}<br>
                    <span class="enGras"> Date : </span> {{ attestation.date|date('d/m/Y') }}<br>
                    <span class="enGras"> Lieu infraction: </span>{{ attestation.lieu }}<br>
                    
                </p> 
                _______________ 

                <p>
                    <span class="enGras"> N° Brigade : </span>{{ attestation.policier.commissariat.numeroBrigade }}<br>
                    <span class="enGras"> Brigade de la Gendermerie : </span> {{ attestation.policier.commissariat.nomBrigade }}<br>
                    
                </p>
                __________________
                <p>
                    <span class="enGras"> Le genderme en charge : </span>{{ attestation.policier.nomAgent }} {{ attestation.policier.prenomAgent }} <br>
                    <span class="enGras"> N° Matricule : </span>{{ attestation.policier.matriculeDuAgent }} <br><br>
                    
                    <a class="icon-arrow-left" style="text-decoration: none; color: blue;" href="{{ path('police_attestation_policier') }}">
                                    Retour
                                </a>
                </p>
            </div>
                    
            <div class="span3">

                <p>
                    <span class="enGras"> Monsieur le Chef de la brigade </span>
                    {{ attestation.policier.commissariat.commissaire.PrenomChef }} {{ attestation.policier.commissariat.commissaire.NomChef }} <br>
                    Certifie que les pièces suivantes : <br>
                    <span class="enGras"> Permis: </span> {{ attestation.conducteur.numeroPermis  }}<br>
                    <span class="enGras"> N° Carte grise: </span> {{ attestation.conducteur.numeroCarteGrise  }} le {{ attestation.date|date('d/m/Y') }}<br>
                    Appartenant à :<span class="enGras"> {{ attestation.conducteur.prenomConducteur  }} {{ attestation.conducteur.nomConducteur  }} </span> <br>
                    Ont été déposées à la Brigade de {{ attestation.policier.commissariat.nomBrigade }} de la Gendermerie nationnale<br>
                    Il devra se présenter à la brigade pour les recupérer le :<span class="enGras"> {{ attestation.dateRecuperePermis|date('d/m/Y') }}</span> <br>
                </p>
                </p>
                
            </div>
                
                <div class="span3">
                    <p>
                        {%set montant = 0 %}
                    <h5>Vous avez commis l'(es) infraction(s) suivante(s):</h5>
                    <strong> Nom </strong>:<br>
                        {% for infraction in infractions %}  
                            -- {{ infraction.nomInfraction  }} <br>                           
                        {% endfor %}<br>
                        <strong> Montant à payer</strong>:
                        {% for infraction in infractions %}
                            {% set montant = montant + infraction.amende %}                             
                        {% endfor %}
                        {{ montant }} FCFA
                    </p>
                </div> 
                
            
        </div> 

    </div>
{% endblock %}
