{% extends "::layout/layout.html.twig" %}        

{% block body %}
    <div class="container">
        <div class="row">
           
            {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}
                        <div class="span3 ">
                {{ include('includeTexte/teste.html.twig') }}
               {# {{ include('includeType/commissariat.html.twig') }}#}
            </div>
             <h2 style='text-align: center'> Attestation</h2>
                 
            <div class="span3 offset1">
                {{ include('includeType/attestation.html.twig') }}
                
                <span > <button style="width: 220px;" class="btn btn-primary">info générale</button>
            </div>

            <div class="span3">

                {{ include('includeType/conducteur.html.twig') }}
                   <div class="form-group">
            {{ form_label(form.infractionConstater, "Autre Constant") }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.infractionConstater) }}
            {# Génération de l'input. #}
            {{ form_widget(form.infractionConstater, {'attr': {'class': 'form-control', 'rows': '2'}}) }}
        </div>
               
                     <a class="btn btn-primary" style="width: 100px; text-decoration: none; color: #ffffff;" href="{{ path('police_attestation_policier') }}">
                        Voir les attestattions
                     </a>

                 
                      <a class="btn btn-primary" style="width: 60px; text-decoration: none; color: #ffffff;;" href="{{ path('police_attestation') }}">
                                    Annuler
                                </a>

                 
            </div>
                           
        </div>
                               
        {{ form_end(form) }}
    </div>
{% endblock %}
