{% extends "::layout/layout.html.twig" %}        

{% block body %}
    <div class="container">
        <div class="row">
            <div class="span3">
                {{ include('includeTexte/teste.html.twig') }}
            </div>
                  <div id="imgAttes" class="span3">
                
                <img src="{{ absolute_url(asset('img/logo-validation.png')) }}">
            </div>

            <form id="formInfraction" action="{{ path('police_attestation_edit_infraction',{'id' : infraction.id}) }}"
                  method="POST">
                <h4 id="titreInfraction">Vous êtes entrain de modifier cette Infraction</h4>
              <div class="span3">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Type Infraction</label>
                            <select id="type_infraction" name="type_infraction" placeholder="Choisir Type Infraction">
                                <option>{{infraction.typeInfraction}}</option>
                                <option>Pièce</option>
                                <option>Conduite</option>
                                <option>Equipement</option>
                                <option>Vehicule</option>
                                <option>Operation</option>
                                <option>Immatriculation</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="page1">Nom Infraction</label>
                            <div class="tooltips" title="">
                                <select id="nom_infraction" name="nom_infraction" placeholder="Anycity">
                                    <option>{{infraction.nomInfraction}}</option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary" style="width: 520px;">
                            Enregistrer et Terminer
                        </button>
                         </div>
                     </div>
                        
                    <div class="span3">

                    <div class="box-body">
                        <div class="form-group">
                            <label class="page1"style="cursor: none;font-size: 20px" id="label_amende">Amende</label>
                            <span class="page1" id="amende" name="amende" style="color: #ffffff;"></span>

                        </div>


                    </div>
                </div>
                  </div>
            </form>
      
    </div>

{% endblock %}