{% extends "::layout/layout.html.twig" %}        

{% block body %}
    <div class="container">
        <div class="row">
            <h2 style='text-align: center'> Infraction</h2>
            {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}
            <div class="span3">
                {{ include('includeTexte/teste.html.twig') }}

            </div>
            <div class="span3">

                <div class="box-body">

                    <div class="form-group">
                        {{ form_label(form.nomInfraction, "Nom Infraction") }}
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.nomInfraction) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.nomInfraction, {'attr': {'class': 'form-control', 'placeholder':'nomInfraction'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.typeInfraction, "type Infraction ") }}
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.typeInfraction) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.typeInfraction) }}
                    </div>

                </div>
                    <button style="width: 220px;" class="btn btn-primary"> Ajouter l'infraction </button>

            </div>

            <div class="span3">

                <div class="box-body">

                    <div class="form-group">
                        {{ form_label(form.categorie, "Choisir une Categorie") }}
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.categorie) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.categorie) }}
                    </div>
                    
                    <div class="form-group">
                        {{ form_label(form.amende, "Amende") }}
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.amende) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.amende) }}
                    </div>


                </div>
                    
                        <a style="text-decoration: none; width: 195px; color: #ffffff;" href="{{ path('police_attestation_valid', {'id':id} )}}">
                                    Terminer
                     </a>
                   
                     
             

            </div>

        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
