{% extends "::layout/layout.html.twig" %}        

{% block body %}
    <div class="container">
        <div class="row">

            <div class="span3">
                {{ include('includeTexte/teste.html.twig') }}

            </div>
            <div id="imgAttes" class="span3">

                <img src="{{ absolute_url(asset('img/logo-validation.png')) }}">
            </div>
            <form id="formInfraction" action="{{ path('police_attestation_liste_infraction',{'id' : id}) }}"
                  method="POST">
                <h2 id="titreInfraction">Ajouter Infraction</h2>
                <div class="span3">

                    <div class="box-body">
                        <div class="form-group">
                            <label class="page1">Type Infraction</label>
                            <select id="type_infraction" name="type_infraction" placeholder="Choisir Type Infraction">
                                <option></option>
                                <option>Pièce</option>
                                <option>Conduite</option>
                                <option>Equipement</option>
                                <option>Vehicule</option>
                                <option>Operation</option>
                                <option>Immatriculation</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="page1">Nom Infraction</label>
                            <div class="tooltips" title="">
                                <select id="nom_infraction" name="nom_infraction" placeholder="Anycity">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span3">

                    <div class="box-body">

                        <div class="form-group">
                            <label class="page1"style="cursor: none;font-size: 20px" id="label_amende">Amende</label>
                            <span class="page1" id="amende" name="amende" style="color: #ffffff;"></span>

                        </div>


                    </div>
                </div>

                <div class="row">
                    <br><br><br><br><br><br><br><div class="span1"></div>
                    <div class="span6"> 
                        <button type="submit" style="width: 220px;" class="btn btn-primary"> Ajouter l'infraction </button>
                        <a class="btn btn-info" style="text-decoration: none; width: 195px; color: #ffffff;" href="{{ path('police_attestation_valid', {'id':id} )}}">
                            Terminer
                        </a><br>
                            {{ render(controller('PoliceBundle:Attestation:infractionEnCours',{ 'id': id })) }}
                    </div>
                              
                </div>

             


            </form>


        </div>
    </div>

{% endblock %}