<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block titre %}ViGIROUTE-GENDERMERIE PDF!{% endblock %}</title>
        <meta name="keywords" content="{% block motsCles %}{% endblock %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <link rel="stylesheet" href='http://AttesTma.asi.sn/Police/web/css/bootstrap.css' />
        <link rel="stylesheet" href='http://AttesTma.asi.sn/Police/web/css/bootstrap-responsive.css' />
        <link rel="stylesheet" href='http://AttesTma.asi.sn/Police/web/css/style.css' />
        <link rel="stylesheet" href='http://AttesTma.asi.sn/Police/web/css/mon_style.css' />
        <link rel="stylesheet" href="http://AttesTma.asi.sn/Police/web/css/font-awesome.css" />
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="http://AttesTma.asi.sn/Police/web/favicon.ico" />
</head>
<body>
    <div class="container">
        <div class="row">
                <h4> N° Attestation: {{ attestation.numeroAttestation }}</h4><br>
            <div class="span3">
                <p>
                    <span class="enGras"> N° Attestation : </span>{{ attestation.numeroAttestation }}<br>
                    <span class="enGras"> Date : </span> {{ attestation.date|date('d/m/Y') }}<br>
                    <span class="enGras"> Lieu : </span>{{ attestation.lieu }}<br>

                </p> 
                _______________ 

                <p>
                    <span class="enGras"> commissariat de Police de : </span> {{ attestation.policier.commissariat.nomCommissariat }}<br>
                    <span class="enGras"> N° Commissariat : </span>{{ attestation.policier.commissariat.numeroCommissariat }}<br>

                </p>
                __________________
                <p>
                    <span class="enGras"> Le policier en charge : </span>{{ attestation.policier.nomPolicier }} {{ attestation.policier.prenomPolicier }} <br>
                    <span class="enGras"> Mle Collect : </span>{{ attestation.policier.matriculeDuPolicier }} <br><br>

                </p>
            </div>

            <div class="span3">

                <p>
                    <span class="enGras"> Monsieur le commissaire </span>
                    {{ attestation.policier.commissariat.commissaire.PrenomCommissaire }} {{ attestation.policier.commissariat.commissaire.NomCommissaire }} <br>
                    Certifie que les pièces suivantes : <br>
                    <span class="enGras"> Permis: </span> {{ attestation.conducteur.numeroPermis  }}<br>
                    <span class="enGras"> N° Carte grise: </span> {{ attestation.conducteur.numeroCarteGrise  }} le {{ attestation.date|date('d/m/Y') }}<br>
                    Appartenant à :<span class="enGras"> {{ attestation.conducteur.prenomConducteur  }} {{ attestation.conducteur.nomConducteur  }} </span> <br>
                    Ont été déposées à la Commissariat de {{ attestation.policier.commissariat.nomCommissariat }}<br>
                    Il devra se présenter au Commissariat pour les recupérer le :<span class="enGras"> {{ attestation.dateRecuperePermis|date('d/m/Y') }}</span> <br>
                </p>
            </div>
                
                 <div class="span3">
                    <p>
                        {%set montant = 0 %}
                    <h5>Infraction constatée:</h5>
                    <strong> Nom infraction</strong>:
                        {% for infraction in infractions %}
                            {{ infraction.nomInfraction  }} |  <br>                          
                        {% endfor %}<br>
                        <strong> Montant à payer</strong>:
                        {% for infraction in infractions %}
                            {% set montant = montant + infraction.amende %}                             
                        {% endfor %}
                        {{ montant }}
                    </p>
                </div>

        </div>  

    </div>


     

<hr />

<script src="http://AttesTma.asi.sn/Police/web/js/jquery-1.10.0.min.js"></script>
<script src="http://AttesTma.asi.sn/Police/web/js/bootstrap.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
